@use '../abstracts/' as *;

.details {
  margin-top: 4.2rem;

  &__container {
    padding-inline: 2rem;
  }

  &__news {
    @include titleSection;
    @include sliderCard;
  }
  &__highlights {
    @include titleSection;

    &__container {
      margin: 2.4rem 0;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
      justify-items: center;
      row-gap: 2.3rem;

      @include responsive(tPortrait) {
        grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
       
      }
    }

    &--item {
      box-shadow: var(--box-shadow);
      padding: 1.4rem 2.2rem;
      width: 25rem;
      display: grid;
      row-gap: 0.9rem;
      border-radius: 1.6rem;

      p {
        font-size: map-get($fontSize, textParagraph);
        color: var(--dark-gray);
        text-transform: capitalize;
      }
      h2 {
        font-size: map-get($fontSize, text-xlarge);
        font-weight: map-get($fontWeight, regular);
        font-family: var(--numberFont);
        text-align: center;

        sup {
          font-size: map-get($fontSize, text-condition);
        }
      }

      img {
        justify-self: self-end;
      }

      .time {
        display: grid;
        row-gap: 1rem;
        &--times {
          display: flex;
          align-items: center;
          justify-content: space-between;
          p {
            font-family: var(--numberFont);
            font-size: map-get($fontSize, text-h4);
            font-weight: map-get($fontWeight, medium);
            color: var(--dark-blue);
            text-transform: lowercase;
          }
        }
      }
    }
  }
}
