@use '../abstracts/' as *;

//Slider styles and funtionality

.details__slider {
  margin-bottom: 3rem;
}

.mySwiper {
  margin-top: 2rem;
}

.swiper {
  width: 100%;
  height: 40rem;
}

.slide-container {
  @include sliderCard;
}
