@use '../abstracts/' as *;

//Slider styles and funtionality

.details__slide {
  margin-bottom: 5rem;
}

.swiper-wrapper {
  height: auto;
}
.swiper {
  width: 100%;
}

.slide-container {
  @include sliderCard;
}
