@use '../abstracts/' as *;

//Slider styles and funtionality

.details__slide {
  margin-bottom: 5rem;
}

.swiper-wrapper {
  height: auto;
}
.swiper {
  width: 100%;
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: var(--dark-blue,var(--dark-gray));
  height: 1rem;
  width: 1rem;
}

.slide-container {
  @include sliderCard;
}
