@use '../abstracts/' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;

  @include responsive(tPortrait) {
    font-size: 65.5%;
  }
}

body {
  font-family: var(--bodyFont);
  color: var(--dark-blue);
}
.container {
  @include responsive(tPortrait) {
    display: grid;
    grid-template-columns: auto 1fr;
  }
}
