@use '../abstracts/variables' as *;
// Selector mixin for last child element
/**
//? EXAMPLE OF THIS FORMULA TO IMPLEMNT
//** @include notLastChild(m,bottom,0.8);
**/

@mixin notLastChild($space, $where, $value) {
  & > * {
    &:not(:last-child) {
      @if $space == 'm' {
        margin-#{$where}: #{$value}rem;
      }
    }
  }
}

// Title for sections

@mixin titleSection {
  h4 {
    font-size: map-get($fontSize, text-h4);
    text-transform: uppercase;

    span {
      color: var(--blue);
      font-weight: map-get($fontWeight, extra-bold);
      text-decoration: underline;
    }
  }
}

//Styles for cards slider content

@mixin sliderCard {
  .card {
    padding: 3rem 1.5rem;
    width: 80%;
    box-shadow: var(--box-shadow);
    border-radius: 1.8rem;
    margin: 4rem 0.5rem;
    margin-top: 1.9rem;
    display: grid;
    row-gap: 1.8rem;
    &__top {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      font-size: map-get($fontSize, text-medium);
      &__resource {
        background-color: var(--blue);
        color: #fff;
        border-radius: 10rem;
        padding: 0.7rem 1rem;
      }

      &__date {
        display: flex;
        align-items: center;
        img {
          width: 1.5rem;
          margin-right: 0.5rem;
        }
      }
    }

    &__content {
      @include responsive(tdesktop) {
        display: flex;
        align-items: center;
        gap: 2rem;
      }

      &--text {
        h5 {
          font-size: map-get($fontSize, textParagraph);
          margin-bottom: 0.5rem;
        }

        p {
          font-size: map-get($fontSize, text-h5);
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
      }

      &--img {
        display: none;

        @include responsive(tdesktop) {
          display: block;
          img {
            width: 8rem;
            height: 8rem;
            border-radius: 0.5rem;
          }
        }
      }
    }

    &__link {
      text-transform: capitalize;
      justify-self: end;

      a {
        font-size: map-get($fontSize, text-h5);
        color: var(--blue-500);
      }
    }
  }
}

//media queries responsives

@mixin responsive($breakpoint) {
  @if $breakpoint == tPortrait {
    @media (min-width: 56.25em) {
      @content;
    }
  }
  @if $breakpoint == tdesktop {
    @media (min-width: 75em) {
      @content;
    }
  }
  @if $breakpoint == tdesktopXl {
    @media (min-width: 81.25em) {
      @content;
    }
  }
}
