:root {
  // Generals colours for this project
  --blue-500: #44a0db;
  --blue: #10519e;
  --light-blue: #d0eefa;
  --dark-gray: #949494;
  --dark-blue: #0e315a;

  //fonts main styles
  --bodyFont: 'Nunito', sans-serif;
  --numberFont: 'Open Sans', sans-serif;

  //shadows
  --box-shadow: 0px 2px 4rem rgba(14, 49, 90, 0.049);
}

$fontSize: (
  'text-medium': 1.4rem,
  'text-large': 3rem,
  'text-xlarge': 6rem,
  'text-h1': 10rem,
  'text-h2': 5rem,
  'text-h3': 3.2rem,
  'text-h4': 2.5rem,
  'text-h5': 1.5rem,
  'textParagraph': 2rem,
  'text-condition': 2.2rem,
);

$fontWeight: (
  'medium': 500,
  'regular': 400,
  'light': 300,
  'bold': 600,
  'extra-bold': 800,
);

.error {
  background-color: rgb(251, 176, 176);
  border: 1px solid #ffa0a0;
  font-size: map-get($fontSize, text-h5);
  text-align: center;
  border-radius: 0.6rem;
  padding: 1.5rem 1rem;
  text-transform: capitalize;
}

.hidden {
  display: none;
}
